PRIVATE_KEY=978a3621284bcb57a695d575116dee438829e5835e34f9bced6433943447eb8b #marktask
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/hr4gvJRq-4o3ETd8y3b3Uz7ecDyKQXwp #Alchemy
COINMARKETCAP_API_KEY=4fc8bce5-2353-4092-b6ab-9437f23a2a5f #COINMARKETCAP
ETHERSCAN_API_KEY=QINCVGUI12ZVWVSI1TJW8NYKSX2QICGF63 #ETHERSCAN
